:root {
    --primary: #0b5ed7 !important;
    --primary-hover: #0646a7 !important;

}

.content {
    padding: 2rem;
}

.form {
    max-width: 60rem;
    margin: auto;
}

nav {
    margin: 0 !important;
    padding: 1rem;
    box-shadow: var(--card-box-shadow);
}

body > header {
    padding: 0 0 3rem 0;
    margin: 0;
}

h2 {
    margin-bottom: 1rem;
}
