html {
    padding: 2rem;
}

body {
    padding: 0;
}

body > header {
    padding: 0 0 3rem 0;
}

.form {
    max-width: 60rem;
    margin: auto;
}

:root {
    --primary: #d81b60;
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}
