{% extends "base_generic.html" %} {% block content %} {% csrf_token %}
<article>
    <header>
        <h2>Livre dont vous êtes le héros</h2>
    </header>
    <body>
        <div class="games-list">
            {% if game %}
            <p>Partie en cours: </p>
            {% if game.name != '' %}
                <a role="button" href="/book/page/{{game.pageNumber}}">{{game.name}}</a>
            {% endif %}
            {% else %}
                <p>Vous n'avez pas de sauvegarde local</p>
            {% endif %}
            <a role="button" href="/book/page/1">Nouvelle partie</a>
            {% if game %}
                <p class="game-warning">Attention créer une nouvelle partie supprimera l'ancienne!</p>
            {% endif %}
        </div>
    </body>
</article>
{%endblock%}
