{% extends "base_generic.html" %} {% block content %}
<article class="form">
    <h1>Login</h1>
    <form action="">
        <label for="username">
            Username
            <input type="text" id="username" placeholder="Username" />
        </label>
        <label for="password">
            Password
            <input type="password" id="password" placeholder="Password" />
        </label>
        <button>Login</button>
    </form>
    <p>You don't have an account ? <a href="/book/register">Register</a></p>
</article>
{% endblock %}
