{% extends "base_generic.html" %} {% block content %}
<article class="card">
    <header>
        <h2>{{ page.title }}</h2>
    </header>
    <body>
        {% load static %}
        <img src="{% static 'img/dragon.png' %}" alt="">
        {% load example %}
        <p class="page-content">{{ page.content | get_name:name }}</p>
    </body>
    <div>
    </div>
    <div class="grid">
        {% for choice in page.choices.all %}
            <a role="button" href="{{choice.redirect}}">
                {{ choice.name }}
            </a>
        {% endfor %}
    </div>
</article>
{% endblock %}