{% extends "base_generic.html" %} {% block content %}
<article class="card">
    <header>
        <h2>{{ page.title }}</h2>
    </header>
    <body>
        {% load static %}
        {% if page.image %}
            <img src="{% static page.image%}" alt="">
        {% endif %}
        {% load example %}
        <p class="page-content">{{ page.content | get_name:name }}</p>
        {% if page.title == "Page 2" %}
            <a role="button" class="hidden-button" href="/book/page/1">Tu dois sauver le royaume</a>
        {% endif %}
    </body>
    <div>
    </div>
    <div class="grid buttons">
        {% for choice in page.choices.all %}
            <a role="button" href="{{choice.redirect}}">
                {{ choice.name }}
            </a>
        {% endfor %}
    </div>
</article>
{% endblock %}